<!DOCTYPE html>
<html>
<head>
    <title>Game Room</title>
</head>
<body>
    <div id="gameContainer">
        <h2>Game Room</h2>
        <div id="gameStatus"></div>
        <div id="playersList"></div>
    </div>
    <div class="hangmanContainer">
        <img src="../assets/hangman-0.svg" alt="Illustration of the hanged man with 0 out of 9 wrong guesses used" class="hangmanImage">
    </div>

    <ul id="wordDisplay"></ul>

    <section id="keyboard">        
    </section>
    <p id="messages"></p>

    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/socket.game.logic.js"></script>
    <script src="../js/keyboard.js"></script>
</body>
</html>